* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: grid;
  place-content: center;
  place-items: center;
  height: 100vh;
  background-color: #232323;
}

.app_header {
  margin: 0 0 50px 0;
}

.app_footer {
  margin: 40px 0 0 0;
}

.app_header img,
.app_footer img {
  width: 30px;
  height: 30px;
  margin: 0 10px 0 0;
}

.app_header button,
.app_footer button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 50px;
  outline: none;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
}

.login_form_details {
  width: 400px;
  height: 400px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.login_form_details img {
  width: 400px;
  height: 300px;
  object-fit: cover;
}

.login_form_details h3 {
  font-size: 22px;
  color: #fff;
  margin: 10px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}

.login_form_details h5 {
  margin: 10px;
  font-weight: light;
  color: #fff;
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
}